/* Reset margin and padding for the whole page */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

/* Ensuring that AppBar has no unwanted padding or margin */
.MuiAppBar-root {
  margin: 0;
  padding: 0;
}

/* Optional: Adding some general spacing for the rest of the app */
.MuiContainer-root {
  padding-left: 16px;
  padding-right: 16px;
}
